:root {
    --color-primary: 2 132 199;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
    @apply w-1.5 h-1.5 bg-gray-800 dark:bg-gray-300;
}

.scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-100 dark:bg-gray-900
}

.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-800 dark:bg-white
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-800/80 dark:bg-white/80
}

.scrollbar-sidebar::-webkit-scrollbar {
    @apply w-1 h-1 bg-gray-800 dark:bg-gray-300;
}

.scrollbar-sidebar::-webkit-scrollbar-track {
    @apply bg-gray-800 dark:bg-gray-900
}

.scrollbar-sidebar::-webkit-scrollbar-thumb {
    @apply bg-gray-400 dark:bg-gray-300 rounded
}

.scrollbar-sidebar::-webkit-scrollbar-thumb:hover {
    @apply bg-white/80
}

.scrollbar-table::-webkit-scrollbar {
    @apply w-1.5 h-1.5 bg-gray-800 dark:bg-white;
}

.scrollbar-table::-webkit-scrollbar-track {
    @apply bg-white dark:bg-gray-800
}

.scrollbar-table::-webkit-scrollbar-thumb {
    @apply bg-gray-400 dark:bg-gray-300 rounded
}

.scrollbar-table::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-800/80 dark:bg-white
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    @apply dark:invert
}
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    @apply dark:invert
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-calendar-picker-indicator {
    @apply dark:invert
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    @apply dark:invert
}